/* Home.css */

.home-container {
    text-align: center;
    padding: 50px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    color: #333;
}

.home-container h1 {
    color: #b30000;
    margin-bottom: 10px;
}

.actions {
    margin-top: 30px;
}

.actions button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b30000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #800000;
}
